<nav
      class="navbar navbar-expand bg-dark border-bottom border-body fixed-top"
      data-bs-theme="dark"
    >
      <div class="container">
        <a class="navbar-brand" href="#">Data Visualisation Tool</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle active"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Trends
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" id="linegraph" href="patient_data"
                    >Line Graph</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" id="histogram" href="bar-type"
                    >Histogram Trend</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" id="tabular" href="#"
                    >Tabular Trend</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Notifications</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Nurses Reviews</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>